.dark {
  background: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.titulo {
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

.texto {
  width: 900px;
  margin: 20px auto;
  font-family: Helvetica, sans-serif;
  line-height: 1,3px;
  font-size: 30px;
  padding: 3px;
}

.primeirotexto {
  width: 900px;
  margin: 20px auto;
  font-family: Helvetica, sans-serif;
  line-height: 1,3px;
  font-size: 30px;
  text-indent: 30px;
  padding: 3px;
}

.topico {   
  text-align: center; 
  font-family: "Outfit", sans-serif;
  font-size: 70px;
  font-weight: 400;
  padding: -30px;
}

.projetos img {
  display: block;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 12px;
}

.nome {
    text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 50px;
  font-weight: 200;
}

.habilidades {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  line-height: 1.6;
}

.formulario {
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Outfit", sans-serif;
}

.formulario input,
.formulario textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.formulario button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: rgb(149, 110, 255);
  color:  white;
  font-size: 16px;
  cursor: pointer;
}

.formulario button:hover {
  opacity: 0.8;
}

#botao {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  cursor: pointer;
}
